//
// Styles for panels and panes.
// --------------------------------------------------
.radix-layouts-content {
	@include border-radius(0);
  @include box-shadow(none);
  .pane-content {
    @include border-radius(0);
    @include box-shadow(none);
    margin: 0;
    padding: 0;
  }
}

#panelizer-edit-content-form input {
	margin-right: 1em;
}